#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: #404040;
}

h2 {
  color: #404040;
}

.letterbox-container {
  padding: 1rem;
  font-size: 4.75em;
  font-weight: 800;
  height: 5rem;
  width: 5rem;
  /* background-color: #f5f5f5; */
  color: white;
  text-align: center;
  -webkit-text-stroke: 1px grey;
  margin: 0.5rem;
  border-radius: 1rem;
  background-color: #22009e;
}

/* .letterbox-container.active {
  background-color: #22009e;
} */

.letterbox-container.true {
  background-color: #42ad00;
  color: white;
}

.letterbox-container.in-word {
  background-color: #ffe940;
  color: black;
}

.letterbox-container.not-in-word {
  background-color: black;
  color: white;
}

.letterboxgroup-container {
  display: flex;
  flex-direction: row;
}

/* .letterboxgroup-container-locked {
  display: flex;
  flex-direction: row;
  pointer-events: none;
} */

input.letterbox-container {
  border: 2px solid #22009e;
  /* background-color: #22009e; */
}

/* input:focus {
  background-color: #22009e;
} */

input:disabled {
  border: 2px solid #a5a5a5;
  background-color: #f5f5f5;
}

.start-again-button {
  background-color: rgb(207, 255, 207);
  color: black;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid green;
  padding: 0.75rem;
}
