#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.letterbox-container {
  padding: 1rem;
  font-size: 30px;
  height: 5rem;
  width: 5rem;
  background-color: white;
  color: black;
  text-align: center;
}

.letterbox-container.true {
  background-color: green;
}

.letterbox-container.in-word {
  background-color: orange;
}

.letterbox-container.not-in-word {
  background-color: red;
}

.letterboxgroup-container {
  display: flex;
  flex-direction: row;
}

.letterboxgroup-container-locked {
  display: flex;
  flex-direction: row;
  pointer-events: none;
}

input:disabled {
  color: white;
}
